# This workflow builds and versions each package in the monorepo based on the commit history, and publishes the artifacts to NPMJS.com

name: Publish Packages

on:
  push:
    branches: ['main', 'feat/add-lerna']

jobs:
  publish_packages:
    runs-on: ubuntu-latest

    steps:
      # need to have access to latest git for lerna
      # - name: install latest git
      #   run: |
      #     apt-get update
      #     apt-get install -y git

      - name: checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # ensure we get the full git history
          ref: main
          token: ${{secrets.GH_PAT}}

      # add token to origin url so we can push version updates
      - name: git env setup
        run: |
          git config --global user.name "GitHub Action Runner"
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git remote set-url origin https://${{secrets.GH_PAT}}@github.com/lightning-js/ui-components

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: true

      # update container FS permissions to allow scripts to build dist files and allow lerna to bootstrap
      # `find` command lists all dirs in src and runs the permission update on them
      - name: set file permissions
        run: |
          find src/ -type d -exec chmod 777 {} +
          chmod -R 777 .git/

      - name: Publish artifacts
        run: pnpm run publish-ci
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  # publish_solid_ui_sb:
  #   needs: publish_packages # run if publish_pacakges succeeds
  #   name: Publish solid-ui storybook
  #   uses: ./.github/workflows/publish-solid-storybook.yml
